mat-calendar .mat-calendar-period-button{
    display: none !important;
}

.btn-contatiner{
    display: flex;
    justify-content: center; /* Horizontally center the button */
    align-items: center;
}

.formdiv{
    display: flex;
    align-items: flex-end;
}

