mat-calendar .mat-calendar-period-button{
    display: none !important;
}

.btn-contatiner{
    display: flex;
    justify-content: center; /* Horizontally center the button */
    align-items: center;
}

.formdiv{
    display: flex;
    align-items: flex-end;
}

.mat-mdc-card{
    background: rgb(219,234,250);
    background: linear-gradient(0deg, rgba(219,234,250,0.9724410882517069) 0%, rgba(255,255,255,0.9024130770472252) 90%);
}